@import 'bootstrap/dist/css/bootstrap';

// .navbar-brand {
//   font-size: 2rem
// }

#tag-page {
  background-color: burlywood;
  height: 1100px;
}

#image-posters {
  background-image: asset-url('p1.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
 }

 .search-area {
   padding-top: 50px;
 }

 .no-right-padding {
   padding-right: 0 !important;
 }

 .no-left-padding {
   padding-left: 0 !important;
 }

 .result-block {
   display: inline-block;
 }